{% ckan_extends %}

{% block toolbar %}
  <div class="toolbar">
    <div id="contacthead" class="Xtoolbar">
      <div id="box1" class="clearfix"></div>
      <div id="contacthead-titel" class="col-sm-offset-1 col-sm-10 col-xs-12">
        <div class="contacthead-titel-kop">
          {% block breadcrumb %}
            {% if self.breadcrumb_content() | trim %}
              <ol class="breadcrumb">
                {% snippet 'snippets/home_breadcrumb_item.html' %}
                {% block breadcrumb_content %}{% endblock %}
              </ol>
            {% endif %}
          {% endblock %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
