{% ckan_extends %}

{% block content %}
  <div class="homepage layout-{{ homepage_style }}">
    <div class="container">
      {{ self.flash() }}

          {% block toolbar %}
            <div class="toolbar">
                <div id="contacthead" class="Xtoolbar">
                    <div id="box1" class="clearfix">
                    </div>
                        <div id="contacthead-titel" class="col-sm-offset-1 col-sm-10 col-xs-12">
                            <ol class="breadcrumb"><li style="color: #fff;font-weight:bold;">
                                {% if g.site_title %}
                                    {{ g.site_title }}
                                {% else %}
                                    Civity Dataplatform
                                {% endif %}
                            </li></ol>
                        </div>
                </div>
            </div>
          {% endblock %}
	</div>

    {% block primary_content %}
      {% snippet "home/layout{0}.html".format(homepage_style) %}
    {% endblock %}
  </div>
{% endblock %}
